@charset "utf-8";

/* Mixin */
@import "../mixin/_mixin.scss";
@import "import/_common.scss";

/*=================================================
	GRID
*/
.as {
	&-fixed-width {
		width: $fixedWidth;
		margin: 0 auto;
	}
	&-fixed-responsive {
		width: $fixedWidth;
		margin: 0 auto;
		@media screen and (max-width: $responsiveBreakpointMin) {
			width: 100%;
			padding: 1em;
		}
	}
	&-full-width {
		width: 100%;
	}
	&-row {
		display: block;
		margin-bottom: 20px;
		@include clearBoth;
	}
	&-col {
		@for $i from 1 through 12 {
			&-#{$i} {
				float: left;
				width: 8.33333% * $i;
			}
			&-reverse-#{$i} {
				float: right;
				width: 8.33333% * $i;
			}
			&-offset-#{$i} {
				float: left;
				margin-left: 8.33333% * $i;
			}
			&-offset-reverse-#{$i} {
				float: right;
				margin-right: 8.33333% * $i;
			}
		}
		@media screen and (max-width: $responsiveBreakpointMin) {
			@for $i from 1 through 5 {
				&-#{$i} {
					width: 50%;
				}
				&-reverse-#{$i} {
					width: 50%;
				}
			}
			@for $i from 1 through 12 {
				&-offset-#{$i} {
					margin-left: 0;
				}
				&-offset-reverse-#{$i} {
					margin-right: 0;
				}
			}
		}
	}
}