@charset "utf-8";

/* Mixin */
@import "../mixin/_mixin.scss";
@import "import/_common.scss";

/*=================================================
	POSITION
*/
.as {
	&-fixed {
		position: fixed;
	}
	&-relative {
		position: relative;
	}
	&-absolute {
		position: absolute;
	}
	&-static {
		position: static;
	}
	&-fixed, &-absolute {
		&.as-pos-screen {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0,0,0,.76);
			z-index: 999;
		}
		&.as-pos-center {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&.as-pos-center-x {
			left: 50%;
			transform: translateX(-50%);
		}
		&.as-pos-center-y {
			top: 50%;
			transform: translateY(-50%);
		}
	}
}