$asBlueLight: #3dcce5;
$asBlue: #22b3d1;

/*
 * Animated Radio Input
 */
@mixin animatedRadioInput( $size: 24px, $margin: 10px, $bgColor: 'hsla(0,0%,0%,.2)', $bgImg: '-webkit-radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% )', $direction: horizontal, $active: false ) {
	-webkit-appearance: none;
	@if $direction == vertical {
		display: block;
	} @else {
		display: inline-block;
	}
	margin: $margin;
	width: $size;
	height: $size;
	border-radius: 50%;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
	background-color: unquote($bgColor);
	background-image: unquote($bgImg);
	background-repeat: no-repeat;
	-webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
	-webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
	outline: none;
	&:checked {
		-webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
		-webkit-transform .25s cubic-bezier(0, 0, .2, 1);
		background-position: 0 0;
	}/* checked */
	&:checked ~ input,
	&:checked ~ input:active {
		@if $direction == vertical {
			background-position: 0 #{-$size};
		} @else {
			background-position: #{-$size} 0;
		}
	}
	@if $active == true {
		&:active {
			-webkit-transform: scale(1.5);
			-webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
		}/* active */
	}
	&, &:active {
		@if $direction == vertical {
			background-position: 0 $size;
		} @else {
			background-position: $size 0;
		}
	}/* input, input:active */
}
